*{
    margin: 0;
    padding: 0;
    border: 0;
    font-family: Arial;
    --light-white: #f1f5f9;
    --darker-white: #f1f5f9;
    --blue: #38BDF8;
    --purple: #6D28D9;
} 

main{
    border: solid 4px black;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 5fr;
}

#sidebar{
    background-color: var(--blue);
    color: var(--light-white);
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    display: grid;
    grid-template-rows: auto auto 1fr;
    grid-row: 1 / 3;
}

#sidebar > *{
    border: solid 1px red;
}

#sidebar > ul > *{
    font-size: 20px;
}


#header{
    border: solid 1px green;
    grid-column: 2 / 3;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 2fr;
    margin: 1rem;
}

#header > * {
    border: solid 1px red;
}

.search-container{
    grid-column: 1 / 2;
}




.icons-container{
    grid-column: 2 / 4;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.icons-container > img{
    width: max(40px, 10%);
}
.icons-container > * {
    border: solid 1px orange;
}




.intro-container{
    grid-column: 1 / 2;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 1fr;
    gap: 4px;
    align-items: center;
    justify-items: start;
}

/* .intro-container > * {
    border: solid 1px purple;
} */

.intro-container > img {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    width: 100px;
    justify-self: center;
}

.intro-container .intro{
    grid-column: 2 / 3;
}

.intro-container > p{
    align-self: end;
}
.intro-container > h2{
    align-self: start;
}


.button-container{
    grid-column: 2 / 4;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 1rem;

}



#content{
    border: solid 1px darkcyan;
    grid-column: 2 / 3;
    background-color: var(--darker-white);
    display: grid;
    grid-template-columns: 3fr 1fr;
}

#content > *{
    border: solid 2px black;
}

.projects{
    grid-column: 1 / 2;
    grid-row: 1 / 3;
}

.projects-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.projects-grid > .proj-item {
    border: solid 1px blue;
}


.announcements{
    grid-column: 2 / 3;
}

.announce-grid{
    border: solid 1px green;
    display: grid;
    grid-template-rows: repeat(auto-fit, minmax(50px, 1fr));
}

.announce-item{
    border: solid 1px lightgreen;
}

.announce-item p:nth-child(1){
    font-weight: bold;
}

.trending{
    grid-column: 2 / 3;
}

.trending-grid{
    border: solid 1px green;
}

.trend-item{
    border: solid 1px lightgreen;
}