*{
    margin: 0;
    padding: 0;
    border: 0;
    font-family: Arial;
    --light-white: #f1f5f9;
    --darker-white: #f1f5f9;
    --blue: #38BDF8;
    --purple: #6D28D9;
} 

main{
    border: solid 4px black;
    display: grid;
    grid-template-columns: 1fr 3fr;
}

#sidebar{
    background-color: var(--blue);
    color: var(--light-white);
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    display: grid;
    grid-template-rows: auto auto 1fr;
}

#sidebar > *{
    border: solid 1px red;
}

#sidebar > ul > *{
    font-size: 20px;
}


#header{
    border: solid 1px green;
    grid-column: 2 / 3;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr;
}

#header > .search-container{
    grid-column: 1 / 2;
}

#header > .tr-container{
    grid-column: 2 / 4;
}

#header > .intro-container{
    grid-column: 1 / 2;

}

#header > .button-container{
    grid-column: 2 / 4;
}

#header > * {
    border: solid 1px red;
}



#content{
    border: solid 1px darkcyan;
    grid-column: 2 / 3;
}