*{
    margin: 0;
    padding: 0;
    border: 0;
    font-family: Arial;
    --light-white: #f1f5f9;
    --darker-white: #f1f5f9;
    --blue: #38BDF8;
    --purple: #6D28D9;
} 

main{
    border: solid 4px black;
    display: grid;
    grid-template-columns: 1fr 3fr;
}

#sidebar{
    border: solid 1px lightblue;
    grid-column: 1 / 2;
    grid-row: 1 / 3;
}



#header{
    border: solid 1px green;
    grid-column: 2 / 3;
}

#content{
    border: solid 1px darkcyan;
    grid-column: 2 / 3;
}